[Unit]
Description=FUSE filesystem for LXC

[Service]
ExecStart=/usr/bin/wawu
Restart=on-failure
RestartSec=10s
ExecStop=/bin/fusermount -u /var/lib/wawu
Delegate=yes

[Install]
WantedBy=multi-user.target